html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
h1{overflow:visible;font-family:'Merriweather',"Georgia",'serif';font-size:40px;margin-bottom:15px;text-rendering:optimizeLegibility;}
h2{margin-bottom:15px;font-size:30px;text-rendering:optimizeLegibility;font-family:"Source Sans Pro",'sans-serif';font-weight:200;}
em{font-style:italic;}
strong{font-weight:bold;}
p{font-family:"Source Sans Pro",'sans-serif';font-size:16px;line-height:1.40;}
#wrapper p{padding-bottom:10px;}
.warning{background:rgba(255, 155, 155, 0.8);padding:15px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.panel a,.panel a:link,.panel a:visited{color:inherit;}
body{background:#292929;}
#wrapper{background:white;}
.panel{margin:0 auto;width:80%;padding-top:15px;display:none;min-height:400px;padding-bottom:50px;}
.panel.here{display:block;}
#content_main{}
#content_main h1:hover,#content_main h2:hover,#p_text:hover{outline:dashed 3px rgba(0, 0, 0, 0.3);}
#content_main h1:active{}
#nav_controls{background:#292929;width:80%;margin:-30px auto 0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
#controls{clear:both;color:white;width:100%;padding-top:10px;font-family:Verdana,Helvetica,Arial,'sans-serif';font-size:.75em;}
#controls .chzn-container,#controls input{color:black;margin-right:5px;}
.control{display:none;}
.control.active,.no-js .control{display:block;}
#control_option{float:left;}
#h1lh,#h2lh,#plh{}
#h1color,#h2color,#pcolor{width:60px;}
#submit #h1_select,#h2_select,#p_select,#h1_select_chzn,#h2_select_chzn,#p_select_chzn{clear:both;margin-right:5px;margin-bottom:11.25px;width:100%;}
.element,.font-family,.size,.lh,.color{margin-left:15px;margin-bottom:11.25px;}
.element label,.font-family label,.size label,.lh label,.color label,#bg_sec label{display:block;margin-bottom:3px;}
.element{padding:0 0 11.25px 0;margin:0 15px 11.25px 15px;border-bottom:solid 1px white;width:90%;}
#control_option_chzn{font-family:Verdana,'sans-serif';}
.hide_btn{padding:5px 10px;margin-top:15px;margin-left:15px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px white;background:#ccc;}
#share_text{width:100%;height:100px;padding:15px;margin-bottom:15px;}
#share_text_short{width:190px;height:20px;padding:15px;}
.footer_wrapper{background:#292929;}
footer{margin:0 auto;padding:0;clear:both;width:80%;font-family:Verdana,Helvetica,Arial,'sans-serif';}
footer p{margin:15px 0;color:white;}
footer p a{color:white;}
#panel_nav{font-size:.8em;clear:both;margin:15px 0;}
#panel_nav li{float:left;display:inline;}
#panel_nav a{display:block;color:white;text-decoration:none;padding:8px 20px;}
#panel_nav a.here{background:#666;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
label{cursor:pointer;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
#logo{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;width:100px;height:100px;background:orange;float:left;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .group{height:1%;}
*:first-child+html .group{min-height:1px;}
@media only screen and (min-width:480px){.panel{min-height:320px;}}@media only screen and (min-width:768px){.panel{padding-top:80px;} #control_option{float:left;margin:0 15px;} #h1_select,#h2_select,#p_select,#h1_select_chzn,#h2_select_chzn,#p_select_chzn,.chzn-container,.element,.font-family,.size,.lh,.color{} .control{clear:none;} .element{width:auto;} #h1lh,#h2lh,#plh{width:50px;} #panel_nav{float:right;clear:none;} footer p{float:left;}}@media only screen and (min-width:960px){.panel{min-width:920px;padding-top:80px;min-height:320px;} #content_main{overflow:visible;} #nav_controls{min-width:920px;margin:-30px auto 0 auto;} #control_option{float:left;margin:0 15px;} .chzn-container,.font-family,.size,.lh,.color{float:left;clear:none;margin-right:15px;margin-left:0;} #h1_select,#h2_select,#p_select,#h1_select_chzn,#h2_select_chzn,#p_select_chzn{margin-left:0;} #h1_select,#h2_select,#p_select,#h1_select_chzn,#h2_select_chzn,#p_select_chzn,.chzn-container,.element,.font-family,.size,.lh,.color{float:left;clear:none;margin-right:15px;} select.variant_select{display:none;} .no-js select.variant_select{display:block;} .element{padding:0 6px 0 0;margin:0 10px 0 15px;border-right:solid 1px white;border-bottom:none;width:145px;} .element label{margin-left:0;}}
